[user]
	email = wruggian@amazon.com
	name = Will Ruggiano

[core]
    excludesfile = ~/.config/git/.gitignore

[color]
	ui = auto

[core]
	pager = delta

[interactive]
    diffFilter = delta --color-only

[push]
	default = simple

[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	br  = branch
  	ci  = commit
  	co  = checkout
  	df  = diff
  	g   = grep -I
  	lg  = log -p
  	loq = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  	pb  = publish-branch
  	rb  = rbranch
  	rc  = rank-contributors
  	rv  = review
  	sm  = show-merges
  	st  = status

[color "branch"]
  	current = yellow reverse
  	local   = yellow
  	remote  = green

[color "diff"]
  	meta = yellow 
  	frag = magenta 
  	old  = red 
  	new  = green 

[color "status"]
  	added     = yellow
  	changed   = green
  	untracked = cyan

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

