[submodule "tridactyl/base16-tridactyl"]
	path = tridactyl/base16-tridactyl
	url = https://github.com/bezmi/base16-tridactyl.git
[submodule "nvim/plugins/coc.nvim"]
	path = nvim/plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "nvim/plugins/dash.vim"]
	path = nvim/plugins/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "nvim/plugins/dashboard-nvim"]
	path = nvim/plugins/dashboard-nvim
	url = https://github.com/glepnir/dashboard-nvim.git
[submodule "nvim/plugins/fzf.vim"]
	path = nvim/plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "nvim/plugins/git-messenger.vim"]
	path = nvim/plugins/git-messenger.vim
	url = https://github.com/rhysd/git-messenger.vim.git
[submodule "nvim/plugins/gitsigns.nvim"]
	path = nvim/plugins/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/plugins/limelight.vim"]
	path = nvim/plugins/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "nvim/plugins/nvim-tree.lua"]
	path = nvim/plugins/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule "nvim/plugins/nvim-treesitter"]
	path = nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/plugins/nvim-treesitter-context"]
	path = nvim/plugins/nvim-treesitter-context
	url = https://github.com/romgrk/nvim-treesitter-context.git
[submodule "nvim/plugins/nvim-treesitter-refactor"]
	path = nvim/plugins/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor.git
[submodule "nvim/plugins/nvim-web-devicons"]
	path = nvim/plugins/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons.git
[submodule "nvim/plugins/playground"]
	path = nvim/plugins/playground
	url = https://github.com/nvim-treesitter/playground.git
[submodule "nvim/plugins/plenary.nvim"]
	path = nvim/plugins/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/plugins/popup.nvim"]
	path = nvim/plugins/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "nvim/plugins/vim-cmake"]
	path = nvim/plugins/vim-cmake
	url = https://github.com/cdelledonne/vim-cmake.git
[submodule "nvim/plugins/vim-easymotion"]
	path = nvim/plugins/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "nvim/plugins/vim-eunuch"]
	path = nvim/plugins/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "nvim/plugins/vim-fugitive"]
	path = nvim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/plugins/vim-illuminate"]
	path = nvim/plugins/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "nvim/plugins/vim-signature"]
	path = nvim/plugins/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "nvim/plugins/vim-visual-multi"]
	path = nvim/plugins/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "nvim/plugins/vimspector"]
	path = nvim/plugins/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "nvim/plugins/which-key.nvim"]
	path = nvim/plugins/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "nvim/plugins/fzf"]
	path = nvim/plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/plugins/vim-repeat"]
	path = nvim/plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/plugins/vim-surround"]
	path = nvim/plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/plugins/zinit-vim-syntax"]
	path = nvim/plugins/zinit-vim-syntax
	url = https://github.com/zinit-zsh/zinit-vim-syntax.git
[submodule "nvim/plugins/vim-bufmru"]
	path = nvim/plugins/vim-bufmru
	url = https://github.com/mildred/vim-bufmru.git
[submodule "nvim/plugins/nvim-autopairs"]
	path = nvim/plugins/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "nvim/plugins/nvim-colorizer.lua"]
    path = nvim/plugins/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "nvim/plugins/coc-fzf"]
	path = nvim/plugins/coc-fzf
	url = https://github.com/antoinemadec/coc-fzf.git
[submodule "nvim/plugins/vim-sneak"]
	path = nvim/plugins/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "nvim/plugins/nvim-treesitter-textobjects"]
	path = nvim/plugins/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-fzf"]
	path = tmux/plugins/tmux-fzf
	url = https://git::@github.com/sainnhe/tmux-fzf
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule "nvim/plugins/vim-jsonc"]
	path = nvim/plugins/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc.git
[submodule "nvim/plugins/vim-terraform"]
	path = nvim/plugins/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "nvim/plugins/markdown-preview.nvim"]
	path = nvim/plugins/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "nvim/plugins/indent-blankline.nvim"]
	path = nvim/plugins/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "nvim/plugins/lualine.nvim"]
	path = nvim/plugins/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim.git
[submodule "nvim/plugins/onedark.nvim"]
	path = nvim/plugins/onedark.nvim
	url = https://github.com/ful1e5/onedark.nvim.git
